* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 30px;
}

.box {
    background-color: rgb(25, 196, 196);
    height: 300px;
    width: 300px;
    transition-property: background-color, border-radius;
    transition-duration: 2s, 1s;
    /*transition-delay: 1s;*/
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.box:hover {
    background-color: chartreuse;
    border-radius: 50%;
}